
nav {
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 20px 0;
}
.navbar-list, nav ul{
    display: flex;
    justify-content: center;
}
.navbar-buttons {
    display: flex;
    margin-left: 90px;
}
nav ul {
    list-style: none;
}
.navbar-list, .navbar-button {
    font-size: 20px;
}
 .navbar-list li a:hover{
    color: #F53838;
    transition: all 0.5s;
}
li a{
    padding: 0 30px;
    text-decoration: none;
}
img {
    width: 150px;
    height: 45px;
    border-radius: 10px;
}
.navbar-buttons {
    justify-items: center;
}
.navbar-button {
    cursor: pointer;
    width: 130px;
}
.button-left {
    border-style: none;
    font-weight: bold;
}
.button-left:hover {
    color: #F53838;
    transition: all 0.5s;
}
.button-right:hover {
    background-color: #F53838;
    color: white;
    transition: all 0.5s;
    border: none;
}
.button-right {
    font-weight: bold;
    border-radius: 40px;
    color: #F53855;
    border-color: #F53855;
}
.navbar-laptop {
    display: flex;
    padding: 0 20px;
}
.hamburger-react {
    display: none;
}
@media (max-width: 768px){
.navbar-list ul {
    display: block;
}
 
 .navbar-mobile {
    display: flex;
    flex-direction: column;
}
  .hamburger-react {
    display: block;
  }
  .navbar-list {
    justify-content: space-between;
    padding: 5px 0;
  }
  
} 