
    .menu-items {
        position: relative;
        max-width: 100%;
    }
    .menu-items ul li a {
        text-decoration: none;
        display: block;
        border-radius: 40px;
        width: 100%;
    }
    .menu-items ul {
        list-style-type: none;
    }
    .menu-items li a:hover, .navbar-buttons .navbar-button:hover {
        background-color: #F53838;
        color: white;
    }
   
    .navbar-button {
        cursor: pointer;
        border: none;
        font-weight: bold;
        border-radius: 40px;
    }

    @media (max-width: 768px){ 
    * {
        font-size: 16px;
    }  
    .menu-items ul {
        display: none;
    }
    .menu-items ul li {
        display: flex;
        margin: 2px; 
    }
    .menu-items ul li a {
        margin: 0 10px;
        display: block;
        text-align: center;
    }
    .menu-items ul.open, .navbar-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-items ul.open > *, .navbar-buttons > * {
        padding: 2px;
        width: 100%;
    }
    .menu-items ul.open {
        position:absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 1000;
    }
    .hamburger-react {
        display: block;
        z-index: 1002;
        top: 0;
        right: 0;
    }
   
    #logo {
        display: none;
    }
    }

    @media (min-width: 769px) {
    * {
        font-size: 20px;
    }
    .menu-items {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        margin: 0 30px;
        z-index: 1000;
        padding: 10px 0;
        }
    .menu-items ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 0 10px;
    }
    .menu-items ul li a {
        margin: 0 10px;
        padding: 10px 20px; 
    }
    .hamburger-react {
        display: none;
    }
    .navbar-button {
        margin: 0 10px;
        padding: 10px 20px;   
    }
    .button-right {
        color: #F53855;
        border-color: #F53855;
    }
}