.main-section {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-section {
    width: 540px;
}
.main-section h1{
    font-size: 40px;
    text-align: center;
}
.main-section .brand-name {
    font-weight: bolder;
}
.main-section p {
    line-height: 30px;
}
.image-section {
    display: flex;
}
.main-picture {
    width: 443px;
    height: 280px;
    box-shadow: 3px 3px 3px rgba(222, 210, 210, 0.75);
}
.centered-button {
    text-align: center;
    margin-top: 40px;
}
.main-section button {
    background-color: #F53838;
    width: 250px;
    border-style: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    box-shadow: 3px 3px 10px rgba(245, 56, 56, 0.65);
    cursor: pointer;
    padding: 20px;
    transition: ease-out 0.3s;
}
.main-section button:hover {
   padding: 30px;
}