.map-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
}
.map-section img {
    width: 100%;
    height: auto;  
    z-index: 1;
}
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    
}
.text-container h2, .text-container p {
    position: relative;
    z-index: 2;
    background-color: transparent;
}

.map-section h2 {
    color: #0B132A;
}
@media (max-width: 768px){
    .map-section {
        position: relative;
    }
    .map-section img {
        position: absolute;
        top: 0;
        left: 0
    }
.map-section h2, .map-section p {
    text-align: center;
    width: 80%;
}
}
@media (min-width: 769px){
    .map-section img:last-child {
        width: 1200px;
        height: 800px;
    }
    .map-section h2  {
        font-size: 35px;
    }
}