.middle-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 100vh;  
}
.middle-pic {
    width: 508px;
    height: 415px;
    box-shadow: 3px 3px 3px rgba(168, 155, 155, 0.35);
}
.middle-section div:nth-child(2) {
    width: 550px;
    
}
.checked-font {
    background-color: #2FAB73;
    border-radius: 50%;
    padding: 6px;
    color: white;
    margin-right: 6px;
}
.custom-checkbox {
    display: flex;
    align-items: center;
    margin-left: 60px;
}
.middle-section div h3 {
    color: #0B132A;
    font-size: 35px;
    text-align: center;
}
.middle-section div p:first-child {
    font-size: 20px;
    padding: 0 15px;
    margin-left: 10px;
    text-align: center;
}