    .plan-section {
        margin-top: 30px auto;
        text-align: center;
        height: 100%;
    }
    .plan-section h3 {
        color: #0B132A;
    }
    .choose-boxes p:nth-child(2), .price {
        color: #0B132A;
        font-weight: 700;
    }
    .price span {
        color: rgb(86, 86, 225);
    }
    .fst-box, .scn-box, .trd-box {
        width: 25%;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fst-box button, .scn-box button, .trd-box button {
        border: 2px solid #F53838;
        border-radius: 20px;
        color: #F53838;
        font-weight: bolder;
        cursor: pointer;
    }
    .fst-box button:hover, .scn-box button:hover, .trd-box button:hover {
        background-color: #F53838;
        color: white;
        transition: all 0.5s;
        border: none;
    }
    .choose-boxes div img{
        box-shadow: 3px 3px 3px #dcdde0;
    }
@media (max-width: 768px){
    .plan-section h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .plan-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .plan-section p {
        margin: 10px;
    }
    .choose-boxes {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .choose-boxes > div {
        margin: 20px 0;
    }
    .choose-boxes div img {
        width: 70px;
        height: 80px;
    }
    .fst-box, .scn-box, .trd-box {
        width: 50%;
        min-height: 250px;
    }
    .fst-box button, .scn-box button, .trd-box button {
        padding: 2px;
        font-size: 14px;
    }
    .content-text-f {
        font-size: 14px;
    }
}
@media (min-width: 769px){
    .plan-section {
        padding-top: 100px;
    }
    .plan-section h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .plan-section p {
        font-size: 20px;
    }
    .choose-boxes {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    .fst-box, .scn-box, .trd-box {
        width: 25%;
        height: 500px;
        margin-top: 40px;
    }
    .choose-boxes div img{
        width: 140px;
        height: 160px;
        margin-bottom: 10px;
    }
    .fst-box button, .scn-box button, .trd-box button {
        padding: 8px 25px;
        margin-top: 15px;
        font-size: 16px ;
    }

}