.subscription-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}
.envelope-icon {
    border: 2px solid rgb(210, 206, 206);
    border-radius: 50%;
    position: absolute;
    top: -25px;
}
.subscription-content h1 {
    color: #f44336;
    background-color: inherit;
}
.subscription-content p {
    background-color: inherit;
}
.email-form input {
    outline: none;
}
.email-form {
    background-color: white;
}
.email-form label {
    margin-right: 10px;
    background-color: white;
}
.email-form input[type="email"] {
    border: 1px solid rgb(210, 206, 206);
    border-radius: 5px;
}
.choose-points label, .choose-points div, div.choose-points + div label{
    background-color: white;
}
input[type="checkbox"] {
    margin-right: 10px;
}
.subscription-content button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 768px){
    .subscription-content {
        gap: 15px;
        max-width: 90%;
        height: 80%;
        margin: 25px auto;
    }
    .envelope-icon {
        padding: 10px;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .email-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;

    }
    .email-form label, .choose-points label, .checkbox-terms label, button {
        font-size: 12px;
    }
    .subscription-content h1 {
        font-size: 20px;
    }
    .subscription-content p {
        font-size: 12px;
        text-align: center;
    }
    .subscription-content button {
        padding: 8px 14px;
        
    }
    .subscription-content button:hover {
        padding: 11px 16px;
    }
    .checkbox-terms {
        text-align: center;  
        background-color: white;
    }
    .choose-points {
        background-color: white;
    }
}
@media (min-width: 769px){
    .subscription-content {
        gap: 20px;
        max-width: 40%;
        height: 600px;
        margin: 30px auto;
    }
    .envelope-icon {
        padding: 20px;
        font-size: 20px !important;
        margin-bottom: 20px;
    }
    .subscription-content h1 {
        font-size: 40px;
    }
    .subscription-content p {
        font-size: 22px;
    }
    .email-form input[type="email"] {
        width: 300px;
        font-size: 20px;
        padding: 10px;
    }
    .subscription-content button {
        padding: 15px 30px;
        font-size: 20px;
        
    }
}