.footer-m {
    margin: 50px 0 30px 0;
}
.footer-main-section { 
    padding: 0 20px;
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}
.subscription-main {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: space-around;
    margin: 40px;
    box-shadow: 1px 3px 10px rgba(136,136,136,.4);
}
.subscription-main p, .subscription-main h4, .subscription-main button, .subscription-text {
    background-color: inherit;
   ;
}
.subscription-text {
    width: 50%;
    text-align: center;
    line-height: 30px;
}
.subscription-main h4 {
    font-size: 35px;
    color: #0B132A;
}
.subscription-main button {
    background-color: #f53838;
    border-style: none;
    border-radius: 10px;
    width: 250px;
    padding: 18px 0;
    color: white;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 5px 15px #f5383883;
    cursor: pointer;
}
.footer-logos {
  width: 35%;
}
.footer-logos p:first-of-type{
font-size: 18px;
margin-top: 0;
}
.footer-logos p:nth-of-type(2){
    font-size: 16px;
}
.footer-logos p:nth-of-type(2) span {
    font-weight: 800;
}
.footer-logos p:nth-of-type(3) {
    font-size: 12px;
}
.footer-links-section {
  display: flex;
  margin-top: 30px;
}
.footer-links-section h4 {
    margin: 0;
}
.brand-font {
    width: 35px;
    height: 30px;
    border: 2px solid #fa9999;
    color: #F53838;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 10px rgba(136,136,136,.3);
   
}
.footer-links-section ul {
list-style: none;
padding: 0;
}
.footer-links-main h4 {
    padding: 0;
}
.footer-links-main {
    margin: 0 40px;
}
.footer-links-main li {
    cursor: pointer;
}
