* {
    color: #4F5665;
}
body {
   /* margin: 52px 150px;*/
   margin: 0;
   padding: 0;
}

nav {
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 20px 0;
}
nav, .navbar-list, .navbar-buttons {
    display: flex;
}
nav ul {
    list-style: none;
    padding: 0 30px;
}
.navbar-list, .navbar-button {
    font-size: 20px;
}
 .navbar-list li a:hover{
    color: #F53855;
    transition: all 0.5s;
}
li a{
    padding: 0 30px;
    text-decoration: none;
}
img {
    width: 150px;
    height: 45px;
    border-radius: 10px;
}
.navbar-buttons {
    justify-items: center;
}
.navbar-button {
    cursor: pointer;
    width: 130px;
}
.button-left {
    border-style: none;
    font-weight: bold;
}
.button-left:hover {
    color: #F53838;
    transition: all 0.5s;
}
.button-right:hover {
    background-color: #F53838;
    color: white;
    transition: all 0.5s;
    border: none;
}
.button-right {
    font-weight: bold;
    border-radius: 40px;
    color: #F53855;
    border-color: #F53855;
}