* {
    color: #4F5665;
}
body {
    margin: 52px 150px;
}
nav {
display: flex;
justify-content: space-between;
}
.navbar-list {
    list-style: none;
    padding: 0 30px;
    display: flex;
}
.navbar-list, .navbar-button {
    font-size: 20px;
}
.navbar-list li a:hover {
    color: #F53855;
    transition: all 0.5s;
}
li a{
    padding: 0 30px;
    text-decoration: none;
}
img {
    width: 150px;
    height: 45px;
    border-radius: 10px;
}
.navbar-buttons {
    display: flex;
    justify-items: center;
}
.navbar-button {
    cursor: pointer;
    width: 130px;
}
.button-left {
    border-style: none;
    font-weight: bold;
}
.button-right {
    font-weight: bold;
    border-radius: 40px;
    color: #F53855;
    border-color: #F53855;
}